// variabili text colors

$text-color-white: #ffffff;
$text-color-mwhite: #ffffffcc;

$text-color-yellow: #e9d758;
$text-color-green: #79b530;
$text-color-red: #e56768;
$text-color-lgray: #8b8b8a;
$text-color-lgray-2: #7f7f7f;
$text-color-mgray: #74777b;
$text-color-mgray-2: #70727e;
$text-color-dgray: #5c5e6c;
$text-color-dgray-2: #434959;
$text-color-greybrown: #454545;
$text-color-greybrown-2: #3f3f3f;
$text-color-greyblu: #3d404f;
$text-color-greyblu-2: #223441;
$text-color-lblack: #252525;
$text-color-mblack: #151515;
$text-color-dblack: #000000;

// variabili fill colors

$fill-color-white: #ffffff;
$fill-color-green: #69de89;
$fill-color-mgreen: #82b541;
$fill-color-red: #e56768;
$fill-color-black: #000000;

// variabili border colors

$border-color-white :#ffffff;
$border-color-mwhite :#ececee;
$border-color-mwhite-2 :#eaeaea;
$border-color-whitecyan :#e5ecef;
$border-color-yellow :#e9d758;
$border-color-grey :#cccccc;
$border-color-green :#79b530;
$border-color-red :#e56768;
$border-color-black :#000000;