@use "../styles/partials/variables" as *;
@import "/node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.my_btn {
    border: none;
    border-radius: 30px;
    background-color: $fill-color-red;
    color: white;
}